<div class = "homepage_img_container">
	<img class = "homepage_img" src="images/web_hi_res_512.png">
</div>

<div class = "options_container">
	Welcome to the Clueless Closet
	<br>
	<button class = "btn opt_btn btn-primary">Login</button>
	<br>
	<button class = "btn opt_btn btn-primary">Register</button>
</div>
