<h2 class = "page-header">Register</h2>

<!--Register form-->
<form>
	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<input type="email" id = "email" class="form-control">
	</div>
	
	<div class="form-group">
		<label>Password</label>
		<input type="password" id = "password" class="form-control">
	</div>
	
	<div class="form-group">
		<label>First Name</label>
		<input type="text" id = "first_name" class="form-control">
	</div>
	
	<div class="form-group">
		<label>Last Name</label>
		<input type="text" id = "last_name" class="form-control">
	</div>
	
	<button type="submit" class="btn btn-primary">Register</button>
</form>
